# Python
__pycache__/
*.py[cod]
*.pyo
.venv*/

# PyInstaller
build/
dist/
*.spec

!build/
build/*
!build/README.md
!build/*/
build/*/*
!build/*/README.md

# macOS
.DS_Store

# プロジェクト固有
sample/

# 親の .gitignore で除外されている config.json を明示的に含める
!config.json
